<section class="section" style="margin-bottom:-50px">
  <div class="container">
    <nav class="nav">
      <div class="nav-center">
        <a class="nav-item" href="{{ .Site.BaseURL }}"><h1 class="title is-2">{{ .Site.Title }}</h1></a>
      </div>
    </nav>
    <nav class="nav">
      <div class="nav-center">
      <h2 class="nav-item subtitle is-6">A Whole Log Of Interesting Nonsense</h2>
      </div>
    </nav>
  </div>
  <div class = "container">
    <div class="nav">
      <div class="nav-center">
        <nav class="nav-item level is-mobile">
          {{ partial "navigation" . }}
          {{- range $platform, $username := .Site.Params.social -}}
          {{- if $username -}}
            <a class="level-item" href='{{ print ( index $.Site.Data.theme.social.base $platform ) $username }}' target='_blank' rel='noopener'>
            <span class="icon">
              <i class>
                {{- partial "svg/icons" $platform -}}
              </i>
            </span>
          </a>
          {{- end -}}
          {{- end -}}
        </nav>
      </div>
    </div>
  </div>
</section>
